.headerwrapper {
  display: flex;
  align-items: center;
}

.headerText {
  font-size: 23px;
  font-weight: 900;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.main {
  padding-top: 2rem;
  display: flex;
  align-items: center;
}


.aboutUs{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.aboutUsText {
  background-color: #fff;
  padding: 2rem 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.aboutUsText p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}

.aboutUsText h2 {
  font-weight: 700;
  text-transform: uppercase;
  padding: .5rem 0;
}

.aboutUsText ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.6;
}

.aboutUsText li {
  margin-bottom: 0.5rem;
}

.aboutUsText strong {
  font-weight: bold;
  color: #d78b8b;
}



@media (min-width: 768px) {
  .headerwrapper .headerText {
    text-align: center;
    width: 100%;
  }

  .aboutUsText {
    padding: 2rem;
  }

  .main {
    width: 70%;
    margin: auto;
  }

  .aboutUs {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media (min-width: 1024px) {
  .main {
    width: 60%;
    margin: auto;
  }
}